
**/settings/Mainnet.toml
**/settings/Testnet.toml
deployments/**
.cache/**
history.txt

# Environment variables with secrets - NEVER commit these!
.env.local
.env

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules

.next/
