# Clarinet
settings/
.cache/
costs-reports.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Build
dist/
build/
*.wasm
